**/.classpath
**/.project
**/.settings

**/.gradle

*/target/
*/bin

docker/integration/jmeter
docker/integration/maven/jpa-webapp-spring*
docker/integration/maven/postgresql*
docker/integration/nginx/nginx.conf
docker/integration/pipework
docker/integration/postgresql/*.sql
docker/integration/wildfly/jpa-webapp-spring.war

